@model IEnumerable<FiveGroup.Models.doctor>
@{
    ViewBag.Title = "Index";
}

<h2>醫師資訊</h2>
<p>
    @Html.ActionLink("新增資料", "Create")
</p>
<table class="table">
    <thead>
        <tr >
            <th class="w-auto">
                @Html.DisplayNameFor(model => model.doc_id)
            </th>
            <th class="w-auto">
                @Html.DisplayNameFor(model => model.doc_name)
            </th>
            <th class="w-50">
                @Html.DisplayNameFor(model => model.doc_history)
            </th>
            <th class="w-auto">
                @Html.DisplayNameFor(model => model.doc_display)
            </th>
            <th> </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.doc_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doc_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doc_history)
            </td>
            <td>
                @if (item.doc_display == false)
                {
                    <span class="badge badge-secondary">隱藏</span>}
                else
                {
                    <span class="badge badge-success">顯示</span>}
                @*@Html.DisplayFor(modelItem => item.doc_display)*@
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.doc_id }, new { @class = "btn btn-info" })
                @*@Html.ActionLink("Details", "Details", new { id=item.doc_id }) |*@
                @*@Html.ActionLink(" ", "Delete", new { id = item.doc_id }, new { @class = "btn btn-danger glyphicon glyphicon-trash", onclick = "return confirm('您確定要刪除嗎??')" })*@
            </td>
        </tr>
    }

</table>


