@model IEnumerable<FiveGroup.Models.ingrediant>

@{
    ViewBag.Title = "Index";
}

<h2>添加物列表</h2>

<p>
    @Html.ActionLink("新增資訊", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @*成分編號*@
            @Html.DisplayNameFor(model => model.ing_id)
        </th>
        <th>
            @*中文名稱*@
            @Html.DisplayNameFor(model => model.ing_name)
        </th>
        <th>
            @*英文名稱*@
            @Html.DisplayNameFor(model => model.ing_eng_name)
        </th>
        <th>
            @*類別*@
            @Html.DisplayNameFor(model => model.ing_category)
        </th>
        <th>
            @*範圍與限制用量*@
            @Html.DisplayNameFor(model => model.ing_restricted)
        </th>
        <th>
            @*使用限制*@
            @Html.DisplayNameFor(model => model.ing_limitation)
        </th>
        <th></th >
    </tr >

@foreach(var item in Model) {
<tr>
    <td>
        @*@item.ing_id*@
        @Html.DisplayFor(modelItem => item.ing_id)
    </td>
    <td>
        @*@item.ing_name*@
        @Html.DisplayFor(modelItem => item.ing_name)
    </td>
    <td>
        @*@item.ing_eng_name*@
        @Html.DisplayFor(modelItem => item.ing_eng_name)
    </td>
    <td>
        @*@item.ing_category*@
        @Html.DisplayFor(modelItem => item.ing_category)
    </td>
    <td>
        @*@item.ing_restricted*@
        @Html.DisplayFor(modelItem => item.ing_restricted)
    </td>
    <td>
        @*@item.ing_limitation*@
        @Html.DisplayFor(modelItem => item.ing_limitation)
    </td>
    <td>
        @Html.ActionLink("編輯", "Edit", new { id = item.ing_id }, new { @class = "btn btn-info glyphicon glyphicon-pencil" })@*|
            @Html.ActionLink("Details", "Details", new { id=item.ing_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ing_id })*@
    </td>
</tr>
}

</table>
