@model FiveGroup.Models.announcement

@{
    ViewBag.Title = "編輯公告";
}

<h1>編輯</h1>
<form action="@Url.Action("Edit")" method="post">
    <input type="hidden" name="a_id" id="a_id" value="@Model.a_id"/>
    <div class="form-group">
        <lable for="a_date">西元 日期 時間</lable>
        <input type="text" name="a_date" id="a_date" class="form-control"
               required  value="@Model.a_date "/>
    </div>
    <div class="form-group">
        <lable for="a_content">內容</lable>
        <input type="text" name="a_content" id="a_content" class="form-control"
               required value="@Model.a_content"/>
    </div>
    <div class="form-group">
        <lable for="a_display">顯示</lable>
        <input type="text" name="a_display" id="a_display" class="form-control"
               required value="@Model.a_display"/>
    </div>
    <input type="submit" value="儲存" class="btn btn-warning" />

</form>



